.menu{
    width: 65%;
    height: 6%;
    background: white;
    float: right;
    display: flex;
    margin-right: 90px;
    margin-top: 40px;

    &_box{
        width: 20%;
        line-height: 53px;
        text-align: center;
        &:hover{
            background: #0b3a4a;
            color: white;
        }
    }
}

